.header {
  padding: 30px 10%;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: hsl(217, 28%, 15%);
  z-index: 2;

  .logo {
    flex: 1;
    img {
      width: 100px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        transition: 0.3s;
        transform: scale(1.1);
      }
    }
  }
  .menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      gap: 20px;
      list-style-type: none;
      li {
        cursor: pointer;
        color: lightgray;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
